/* body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
  } */


  canvas {
	position: absolute;
  }

.title {
	font-size: xx-large;
}
.date{
	text-align: right;
	position: relative;
	justify-content: center;
}
